* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#products-container-products-container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1400px;
  padding-bottom: 50px;
  margin-top: 5px;
}

.products-container-navlinks {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  padding-bottom: 50px;
}

.products-container-navlink {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.products-container-navlink:first-of-type {
  margin-left: 5px;
}

.products-container-navlink:last-of-type {
  margin-right: 5px;
}

.products-container-navlink.current {
  display: block;
  color: black;
  /* background-color: gray; */
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-container-dots-before,
.products-container-dots-after {
  align-self: flex-end;
  user-select: none
}


.products-container-no-results {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  color: rgb(241, 100, 30);
  width: fit-content;
  margin-top: 10px;
}


.products-container-no-results>h1>* {
  vertical-align: middle;
}

.mainpage-top-bar-categories-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  margin-bottom: 100px;
}

.mainpage-top-bar-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  text-decoration: none;
}

.mainpage-top-bar-category>img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0px 25px;
  cursor: pointer;
}

.mainpage-top-bar-category>h3 {
  color: black;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.mainpage-top-bar {
  background-color: rgb(253, 235, 210);
}

.mainpage-top-bar-header {
  display: flex;
  justify-content: center;
}

.mainpage-top-bar-header>h2 {
  font-weight: 500;
  position: relative;
  top: 30px;
  font-size: 28px;
}

.featured-items {
  margin: 0 auto;
  width: 1400px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 15px;
  box-sizing: border-box;
}
